@{
    ViewBag.Title = "Home Page";
}
<div class="hero" id="highlighted">
            <div class="inner">
                <hr />
                <!--Slideshow-->
                <div id="highlighted-slider" class="container">
                    <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                        <!--Slideshow content-->
                        <!--Slide 1-->
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6 text-right-md item-caption">
                                    <h2 class="h1 text-muted text-weight-light">
                                        <span class="text-primary">Servicing North Eastern Wisconsin</span> for over 30 Years!
                                    </h2>

                                    <p class="text-muted"><b>
                                        Have something small or large in mind to transform your yard or Business into a beautiful oasis?
                                        Look no further, let our years of experience help you make your dreams a reality.
                                        We specialize in residential and Commercial Communities.
                                    </b>
                                    </p>
                                    <h3 class="text-primary"><b>
                                        When quality matters, that is when experience shines brightest.
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-md-6 hidden-xs">
                                    <img src="~/img/Filler_ExtraImages/Equipment.jpg" alt="Slide 2" class="center-block img-responsive">
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="text-primary"> <h2>Positions available for FALL and WINTER Season.<h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<hr />

    <div class="container">
        <h2 class="text-shadow-white">
            Located in Fox Valley Area. </br>
            Full Time and Part Time Positions available.</br>
            Please contact Northern Handyman 9202775947<a href=@Url.Action("About","Home") class="btn btn-more"><i class="fa fa-plus"></i>Read more about us.</a>
        </h2>
    </div>

    <hr />

    <!-- ======== Region: #content ======== -->
    <div id="content">
        <!-- Mission Statement -->
        <div class="mission text-center block block-pd-sm block-bg-noise">
            <div class="container">
                <h2 class="text-shadow-white">
                    The Northern handyman is located in New London WI, but services most of North Eastern Wisconsin. We are two generations of landscapers striving for excellence in everything we do.
                    <a href=@Url.Action("About","Home") class="btn btn-more"><i class="fa fa-plus"></i>Read more about us.</a>
                </h2>
            </div>
        </div>

        <!-- Services -->
        <div class="services block block-bg-gradient block-border-bottom">
            <div class="container">
                <h2 class="block-title">
                    Our Services
                </h2>
                <div class="row">
                    <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":4, "pagination":false, "navigation":true, "itemsScaleUp":true}'>
                        <div class="item">
                            <div class="col-md-4 text-center">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>

                                    <i class="glyphicon glyphicon-tree-deciduous" style="color:white;"></i>
                                </span>
                                <h4 class="text-weight-strong">
                                    Landscaping and Design
                                </h4>
                                <p></p>
                                <p>
                                    <a href=@Url.Action("Landscape_Lawncare_Index","Home") class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>

                        </div>

                        <div class="item">
                            <div class="col-md-4 text-center">
                                <span class="fa-stack fa-5x">
                                    <img src="~/img/Filler_ExtraImages/Dump truck Circle Image.png">
                                </span>
                                <h4 class="text-weight-strong">
                                    Equipment
                                </h4>
                                <p></p>
                                <p>
                                    <a href=@Url.Action("Landscape_Lawncare_Index","Home") class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>

                        </div>

                        <div class="item">
                            <div class="col-md-4 text-center">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>

                                    <i class="glyphicon glyphicon-leaf" style="color:white;"></i>

                                </span>
                                <h4 class="text-weight-strong">
                                    Mowing &amp; Lawn care
                                </h4>
                                <p></p>
                                <p>
                                    <a href=@Url.Action("Landscape_Lawncare_Index","Home") class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>

                        </div>

                        <div class="item">
                            <div class="col-md-4 text-center">
                                <span class="fa-stack fa-5x">

                                    <img src="~/img/Filler_ExtraImages/SkidSteer2.jpg">
                                </span>
                                <h4 class="text-weight-strong">
                                    Skid Steer Work
                                </h4>
                                <p></p>


                                <p>
                                    <a href=@Url.Action("Landscape_Lawncare_Index","Home")
                                       class="btn btn-more i-right">Learn More<i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>

                        </div>

                        <div class="item">
                            <div class="col-md-4 text-center">
                                <span class="fa-stack fa-5x">
                                    <img src="~/img/Filler_ExtraImages/Snow Flake Circle Image.png">
                                </span>
                                <h4 class="text-weight-strong">
                                    Snow Removal
                                </h4>
                                <p></p>
                                <p>
                                    <a href=@Url.Action("Landscape_Lawncare_Index","Home") class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>

                        </div>

                        <div class="item">
                            <div class="col-md-4 text-center">
                                <span class="fa-stack fa-5x">
                                    <img src="~/img/Filler_ExtraImages/ChainSaw Circle Image.png">
                                </span>
                                <h4 class="text-weight-strong">
                                    Tree Removal
                                </h4>
                                <p></p>
                                <p>
                                    <a href=@Url.Action("Landscape_Lawncare_Index","Home")
                                       class="btn btn-more i-right">Learn More<i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--Showcase-->
        <div class="showcase block block-border-bottom-grey">
            <div class="container">
                <h2 class="block-title">
                    Before &amp; After Pictures
                </h2>
                <p class="text-center">
                    Want to add life to your yard but dont know what to do? Give us a call!
                    The Northern Handyman will work with you to make every project, idea, or dream a reality.
                    We want to be the ones you choose to achieve the look you want.

                </p>
                <hr />
                <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":4, "pagination":false, "navigation":true, "itemsScaleUp":true}'>
                    <div class="item">
                        <a href="#" class="overlay-wrapper">
                            <img src="~/img/Projects/FirePit_1of2.jpg" alt="Fire Pit Before image" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">Fire Pit Before</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">Fire Pit Before</a>
                            </h4>
                            <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="overlay-wrapper">
                            <img src="~/img/Projects/FirePit_2of2.jpg" alt="Project 2 image" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">Fire Pit After</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">Fire Pit After</a>
                            </h4>
                            <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="overlay-wrapper">
                            <img src="~/img/Projects/FrontViewBefore.jpeg" alt="Patio Before" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">Patio Before</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">Patio Before</a>
                            </h4>
                            <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="overlay-wrapper">
                            <img src="~/img/Projects/FrontPatioAfter.jpeg" alt="Patio Finished" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">Patio After</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">Patio After</a>
                            </h4>
                            <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="overlay-wrapper">
                            <img src="~/img/TreeRemoval/TreeRemovalStart1-4.jpg" alt="Tree Removal Before" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">Tree Removal Before</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">Tree Removal Before</a>
                            </h4>
                            <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="overlay-wrapper">
                            <img src="~/img/TreeRemoval/TreeRemovalFinish4-4.jpg" alt="Tree Removal Finish" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">Tree Removal After</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">Tree Removal After</a>
                            </h4>
                            <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="overlay-wrapper">
                            <img src="~/img/StumpGrinding/StumpGrinding1.jpg" alt="Stump Grinding Before" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">Stump Grinding Before</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">Stump Grinding Before</a>
                            </h4>
                            <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="overlay-wrapper">
                            <img src="~/img/StumpGrinding/StumpGrindingCleanup1.jpg" alt="Stump Grinding After" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">Project 8</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">Stump Grinding After</a>
                            </h4>
                            <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Pricing -->
        <div class="block-contained">
            <h2 class="block-title">
                Our Lawn Care Service Plans
            </h2>

            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default panel-pricing panel-pricing-popular text-center">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Residential Lawn Services<em> Silver Plan</em>
                            </h4>

                        </div>

                        <div class="panel-pricing-price">
                            $ <span class="digits">25.00</span> /mo.<br />
                            *Starting as low as
                        </div>
                        <div class="panel-body">
                            <ul class="list-dotted">
                                <li>Every two weeks we will Come and mow your yard and weed wack</li>

                            </ul>
                            <a href="#" class="btn btn-primary btn-sm">Choose Plan</a>

                        </div>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="panel panel-default panel-pricing panel-pricing-popular text-center">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Commercial Lawn Services<em> Silver Plan</em>
                            </h4>
                        </div>
                        <div class="panel-pricing-price">
                            $ <span class="digits">49.95</span> /mo.<br />
                            *Starting as low as
                        </div>
                        <div class="panel-body">
                            <ul class="list-dotted">
                                <li>Every two weeks we will Come and mow your yard and weed wack</li>

                            </ul>
                            <a href="#" class="btn btn-primary btn-sm">Choose Plan</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="panel panel-default panel-pricing panel-pricing-highlighted text-center">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Residential Lawn Services<em> Gold Plan</em>
                            </h4>
                        </div>
                        <div class="panel-pricing-price">
                            $ <span class="digits">70.00</span> /mo.<br />
                            *Starting as low as
                        </div>
                        <div class="panel-body">
                            <ul class="list-dotted">
                                <li>Every two weeks we will Come and mow your yard and weed wack</li>
                                <li>Maintin Trees</li>
                                <li>Clean Shrubbery</li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-sm">Choose Plan</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="panel panel-default panel-pricing panel-pricing-highlighted text-center">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Commercial Lawn Services<em> Gold Plan</em>
                                <span class="panel-pricing-popular"><i class="fa fa-thumbs-up"></i> Popular</span>
                            </h4>
                        </div>
                        <div class="panel-pricing-price">
                            $ <span class="digits">99.95</span> /mo.<br />
                            *Starting as low as
                        </div>
                        <div class="panel-body">
                            <ul class="list-dotted">
                                <li>Every two weeks we will Come and mow your yard and weed wack</li>
                                <li>Maintin Trees</li>
                                <li>Clean Shrubbery</li>

                            </ul>
                            <a href="#" class="btn btn-primary btn-sm">Choose Plan</a>

                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
