@{
    ViewBag.Title = "Home Page";
}

<div class="mission text-center block block-pd-sm block-bg-noise">
    <div class="container">
        <h2 class="text-shadow-white">
            We are a full digital agency based in London. We are experienced professionals in building websites, applications, mobile solutions.
            <a href="about.html" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
        </h2>
    </div>
</div>