
@{
    ViewBag.Title = "Landscape Maintance";
}
<div class="hero" id="highlighted">
    <div class="inner">

        <hr />
        <!--Slideshow-->
        <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                <!--Slideshow content-->
               
                
                <!--Slide 1  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                LANDSCAPE MAINTANCE  <span class="text-primary"> Edging</span>
                            </h2>
                            <h4>
                                
                            </h4>
                            <p>Lawn edging gives your lawn a clean, sharp appearance
                                        and provides a barrier between the grass and flowerbeds.
                                        Lawns can end up looking sloppy without proper edging,
                                        Eding also make it easier to mow properly.
                                        Talk to our  team about edging material
                                        options.</p>
                       </div>
                            
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Mowing/edging.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 2  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">LANDSCAPE MAINTANCE
                                <span class="text-primary">Mowing</span> 
                            </h2>

                            <h4 style="padding-left:2em;">
                              
                            </h4>
                            <p style="padding-left:2em;">
                                One of the first steps of having the best looking yard is lawn mowing.
                                The Northern Handyman offers grass cutting services for
                                homes and commercial lots. Mowing your lawn at the right times and on
                                a regular basis will give you stronger, healthier grass.
                            </p>
                        </div>
                        <img src="~/img/Mowing/Mowing.jpg" alt="Slide 2" class="center-block img-responsive">
                                             
                    </div>
                </div>
                <!--Slide 3  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">LANDSCAPE MAINTANCE
                                <span class="text-primary">Seasonal Clean-Ups</span> 
                            </h2>

                            <h4 style="padding-left:2em;">*Brush/Leaf Removal</h4>
                            <p style="padding-left:2em;">
                                No one likes the yearly chore of raking leaves...But the task
                                            of raking leaves cannot be neglected. leaves left on your lawn
                                            during the snowfall, will end up smothering and killing the grass you
                                            worked so hard to maintain. <br />
                                            Call The Northern Handyman to get those leaves
                                            out of your yard before winter.
                            </p>
                         </div>
                                <img src="~/img/Mowing/spring_cleanup.jpg" alt="Slide 2" class="center-block img-responsive">
                            
                    </div>
                </div>
                <!--Slide 4  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">LANDSCAPE MAINTANCE
                                <span class="text-primary">Prun Trees & Shrubbery</span> 
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                When proper care and attention is given to your trees and shrubs you can expect to have
                                beautiful greenery year after year. Our team will prune and trim your plants keeping
                                them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard
                                by shaping your trees and shrubs into works of art.
                            </p>
                         </div>
                        <img src="~/img/Trimming/pruning.jpg" alt="Slide 2" class="center-block img-responsive">
                    </div>
                </div>
               
            </div>
        </div>
        <hr />
    </div>
</div>
\