@Styles.Render("~/Content/Services.css")

<title>
    Services | TheNorthernHandyman
</title>

<div class="container">
    <div class="jumbotron">
        <h1 class="text-primary text-center"> What we do?</h1>
    </div>
    <h1 class="text-primary text-weight-strong">We make your landscaping and construction dreams a reality!</h1>
     <h2 class="text-primary"> We have been servicing north eastern wisconsin for over 20 years, take a look below at some of the services we can provide. </h2>
</div>
    

 <!-- Services -->
<div class="services block block-bg-gradient block-border-bottom">
    <div class="container">
        <h1 class="block-title">
            Our Services
        </h1>
        <div class="row">
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="glyphicon glyphicon-tree-deciduous" style="color:white;"></i>
                </span>
                <h2 class="text-weight-strong">
                    Landscaping and Design
                </h2>
                 
                <h3 class="text-muted">  Retaining Walls</h3>
                <h3 class="text-muted">  Fire Pits</h3>
                <h3 class="text-muted">  Decorative Patios & Walkways</h3>
                <h3 class="text-muted">  Decorative Mulch & Stone</h3>
                <h3 class="text-muted">   Lawn Repair</h3>
                
                <p>
                    <a href=@Url.Action("Landscape_Lawncare_Index","Home") class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <img src="~/img/Filler_ExtraImages/Dump truck Circle Image.png">
                </span>
                <h2 class="text-weight-strong">
                    Equipment
                </h2>
                
                <h3 class="text-muted"> 10K 14ft.Dump trailer. </h3>
                <h3 class="text-muted"> 14K 18ft.Car hauler trailer with winch. </h3>
                <h3 class="text-muted"> 84″ skid steer snow blowing & 8′ bucket. </h3>
                <h3 class="text-muted">V bottom salter. </h3>
                    
                <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="glyphicon glyphicon-leaf" style="color:white;"></i>
                </span>
                <h2 class="text-weight-strong">
                    Mowing &amp; Lawn Care
                </h2>
                    <h3 class="text-muted">Mowing</h3>
                    <h3 class="text-muted">Shrub Trimming</h3>
                    <h3 class="text-muted">Spring & Fall Cleanup</h3>
                    <h3 class="text-muted">Plant Bed Maintenance</h3>
                    <h3 class="text-muted">Weed whacking. </h3>
                    <h3 class="text-muted">Leaf removal. </h3>
                <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <img src="~/img/Filler_ExtraImages/SkidSteer2.jpg">
                </span>
                <h2 class="text-weight-strong">
                    Skid Steer Work
                </h2>
               
                <h3 class="text-muted">Snow blowing &plowing. </h3>
                <h3 class="text-muted">Parking Lot sweeping. </h3>
                <h3 class="text-muted">Brush & rock removal. </h3>
                <h3 class="text-muted">Drive way reconstruction.</h3>
                <h3 class="text-muted">Landscaping. </h3>
 
                <p>
                    <a href=@Url.Action("Landscape_Lawncare_Index","Home") class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <img src="~/img/Filler_ExtraImages/Snow Flake Circle Image.png">
                </span>
                <h2 class="text-weight-strong">
                    Snow Removal
                </h2>
                
                <h3 class="text-muted"> Public and Private roads</h3>
                <h3 class="text-muted">  Snow Plowing,blowing. </h3>
                <h3 class="text-muted">   Snow Shoveling.</h3>
                <h3 class="text-muted">  Sanding and salting</h3>
                <h3 class="text-muted">  Parking lots and walkways</h3>
                <h3 class="text-muted">  Driveways and sidewalks</h3>


                <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <img src="~/img/Filler_ExtraImages/ChainSaw Circle Image.png">
                </span>
                <h2 class="text-weight-strong">
                    Tree Removal
                </h2>
                <h3 class="text-muted"> Trimming. </h3>
                <h3 class="text-muted">  Stump grinding & Clean up. </h3>
                <h3 class="text-muted"> Storm damage repair/removal.</h3>
                <h3 class="text-muted"> Brush removal and chipping. </h3>
                <h3 class="text-muted">   Small & Large trees. </h3>
                
                <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>