
@{
    ViewBag.Title = "SkidSteerWork";
}

<h2>SkidSteerWork</h2>


@{
    ViewBag.Title = "Skid Steer | TheNorthernHandyman";
}

<div class="hero" id="highlighted">
    <div class="inner">
        <!--Slideshow-->
        <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                <!--Slideshow content-->
                <!--Slide 1  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SKID STEER WORK<br /> <span class="text-primary"> LAND SCAPING</span>
                            </h2>
                            <h4></h4>
                            <p>

                                Have a Large project were you need truck beds full of mulch or that need to be moved from
                                place to place through out the yard
                                or loads of topsoil that you want leveled? A skid steer may be your solution.
                                These machines are great for lifting and hauling things
                                such as pallets of pavers, mulch or plants around jobsites.
                                </br>

                                Give the northern handyman a  call and we'll accompany you by
                                providing you with the necessary equipment needed to get the job done.
                            </p>
                        </div>

                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Equipment/SkidSteer.PNG" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 2  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SKID STEER WORK
                                <span class="text-primary">DRIVEWAY RECONSTRUCTION</span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                One of the first steps of having the best looking yard is lawn mowing.
                                The Northern Handyman offers grass cutting services for
                                homes and commercial lots. Mowing your lawn at the right times and on
                                a regular basis will give you stronger, healthier grass.
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/SKIDSTEER/received_1898246343800709.jpeg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 3  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SKID STEER WORK
                                <span class="text-primary">SWEEPING</span>
                            </h2>

                            <h4 style="padding-left:2em;">
                                *PARKING LOTS
                                <br /> *Grass
                            </h4>
                            <p style="padding-left:2em;">
                                No one likes the yearly chore of raking leaves...But the task
                                of raking leaves cannot be neglected. leaves left on your lawn
                                during the snowfall, will end up smothering and killing the grass you
                                worked so hard to maintain. <br />
                                Call The Northern Handyman to get those leaves
                                out of your yard before winter.
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Equipment/Sweeper.PNG" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 4  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SKID STEER WORK<br />
                                <span class="text-primary">
                                    SNOW BLOWING
                                </span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                When proper care and attention is given to your trees and shrubs you can expect to have
                                beautiful greenery year after year. Our team will prune and trim your plants keeping
                                them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard
                                by shaping your trees and shrubs into works of art.
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/Equipment/SnowBlower2.PNG" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
00000