@{
    ViewBag.Title = "Snow Removal";
}
<div class="hero" id="highlighted">
    <div class="inner">

        <hr />
        <!--Slideshow-->
        <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                <!--Slideshow content-->

                <!--Slide 1  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                               SNOW REMOVAL<br /> <span class="text-primary"> Commercial Service</span>
                            </h2>
                            <h4></h4>
                            <p>
                                No Lot is Too Big! <br />
                                A parking lot full of snow means less customers,
                                We provide salting and plowing services for parking lots for all
                                types of commercial buildings including, but not limited to,
                                grocery stores, apartment complexes, offices, and government buildings.
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/SnowServices/Snowy_Parkinglot_edited.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 2  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SNOW REMOVAL <br />
                                <span class="text-primary">Residential Service </span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                Our crews will ensure your sidewalks and pathways are safely cleared
                                If needed, we take care of your deck/patio through
                                clearing stairs and handrails for safety, and ensure access to garbage
                                bins, and mailboxes. We work around the clock, ensuring your driveway
                                stays clear when snow starts to fall. Salting and sanding is available for
                                sidewalks and driveways
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/SnowServices/Plowed_Driveway_edited.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 3  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SNOW REMOVAL<br />
                                <span class="text-primary">Plowing/Blowing/Shoveling</span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                The first snowfall is a wonderful sight But by the end of January,
                                let’s face it, we are sick of it.This winter, let The Northern
                                Handyman take care of your snow removal needs this winter.
                                This is performed using trucks and bobcats after 1 inch of snow has accumulated.
                                Salting and sanding is available.
                                <br />
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/SnowServices/SnowPlowing_edited.jpg" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 4  -->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                SNOW REMOVAL<br />
                                <span class="text-primary">
                                    Sanding & Salting...
                                </span>
                            </h2>

                            <h4 style="padding-left:2em;"></h4>
                            <p style="padding-left:2em;">
                                You may have noticed salt or
                                sand on the road. That's no accident! Many people believe that sand and salt are used for the same purpose
                                — to melt the ice. But they're wrong! 
                                Salt lowers the freezing point of water causing ice to begins to dissolve .
                                
                                Sand is used for improved traction.The movement of the sand grains makes
                                it difficult for water molecules to stick together and form ice.
                                We provide ice management to ensure the sidewalks, walkways and parking
                                lots safer for visitors.
                            </p>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="~/img/SnowServices/SaltRoad.jpg"  alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
    </div>
</div>







